{
	"env": {
		"development": {
			"plugins": [
				[
					"styled-components",
					{ "ssr": true, "displayName": true, "preprocess": false }
				]
			],
			"presets": ["next/babel", "@zeit/next-typescript/babel"]
		},
		"production": {
			"plugins": [
				[
					"styled-components",
					{ "ssr": true, "displayName": true, "preprocess": false }
				]
			],
			"presets": ["next/babel",  "@zeit/next-typescript/babel"]
		}
	},
	"plugins": [
		[
			"styled-components",
			{ "ssr": true, "displayName": true, "preprocess": false }
		]
	]
}
